.main-text-btr h1 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.img-btr-subtext img {
  border-radius: 2%;
}

.main-text-btr p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: rgba(102, 102, 102, 1);
}

.col-lg-4 p {
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .main-text-btr {
    padding-top: 40px;
  }

  .main-text-btr h1 {
    font-size: 26px;
  }

  .main-text-btr p {
    font-size: 18px;
    padding: 0 24px;
    padding-bottom: 40px;
  }
  .img-btr-subtext {
    padding-left: 20px;
  }

  .img-btr-subtext p {
    padding-top: 20px;
    font-size: 20px;
  }
  .img-btr-subtext img {
    height: 80%;
  }
}
