.main-op-container button {
  width: 245px;
  height: 52px;
  border: 2px solid rgb(184, 142, 47, 1);
  background-color: white;
  color: rgb(184, 142, 47, 1);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  transition: 0.5s ease;
}

.main-op-text p {
  font-family: "Poppins", sans-serif;
}

.main-op-container button:hover {
  color: white;
  background-color: rgb(184, 142, 47, 1);
}

@media screen and (max-width: 992px) {
  .main-op-container button {
    width: 10rem;
  }
}
.OP-Show-more-button:hover {
  color: white;
  background-color: rgb(184, 142, 47, 1);
}
.showBtn {
  margin-bottom: 5rem !important;
}
